.container {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    background-color: gainsboro;
}
footer {
    background-color:gainsboro;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    clear: both;
    width: 100%;
    padding: 10px;
    text-align: center;
}
#decor {
    background-color: turquoise;
}
#formGroupExampleInput3 {
    height: 150px;
}